@charset "utf-8";

html{
  font-size: 62.5%;
}

body{
  color: #333;
  font-size: 1.6rem;
}

#title{
  color: blue;
  text-align:center;
}

.form{
  text-align:center;
}

.items{
  text-align:center;
}

.stores{
  text-align:center;
}

.item_detail{
  text-align:center;
}

.search_result{
  text-align:center;
}
